$radius: 5px;
$btn-height: 30px;
$border: 1px solid black;
$delete-btn-width: 112px;
$cancel-btn-width: 61px;
$add-btn-width: 46px;
$save-btn-width: 48px;

@mixin boarder {
  border-radius: $radius;
  border: $border;
}
